:root {
  --theme-color: #FE5472;
  --secondary-color: #009DAE;
  --pk-box-shadow: 0 0 25px rgb(0 0 0/20%);
  --pk-border-color: #dee2e6
}

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  background-color: #fbfbfb
}

html {
  scroll-behavior: smooth
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0 1000px white inset !important;
  box-shadow: 0 0 0 1000px white inset !important
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
div,
section,
img,
input,
button,
i,
ul,
li,
td,
svg,
a,
span {
  transition: all .4s ease;
  -moz-transition: all .4s ease;
  -o-transition: all .4s ease;
  -ms-transition: all .4s ease;
  -webkit-transition: all .4s ease
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.4
}

input,
input:focus,
button,
button:focus {
  outline: none
}

.theme-container {
  max-width: 1500px;
  padding: 0 80px;
  margin-left: auto;
  margin-right: auto
}

.pk-manadala {
  position: absolute;
  width: 25rem;
  height: 25rem;
  opacity: .2;
  z-index: -1
}

.pk-manadala.top-left {
  top: -12.5rem;
  left: -12.5rem
}

.pk-manadala.top-right {
  top: -12.5rem;
  right: -12.5rem
}

.pk-manadala.bottom-left {
  bottom: -12.5rem;
  left: -12.5rem
}

.pk-manadala.bottom-right {
  bottom: -12.5rem;
  right: -12.5rem
}

@keyframes growProgressBar {

  0%,
  33% {
    --pgPercentage: 0
  }

  100% {
    --pgPercentage: var(--value)
  }
}

@property --pgPercentage {
  syntax: '<number>';
  inherits: false;
  initial-value: 0
}

div[role="progressbar"] {
  --size: 10rem;
  --fg: #369;
  --bg: #def;
  --pgPercentage: var(--value);
  animation: growProgressBar 3s 1 forwards;
  width: var(--size);
  height: var(--size);
  border-radius: 100%;
  display: grid;
  place-items: center;
  background: radial-gradient(closest-side, white 80%, transparent 0 99.9%, white 0), conic-gradient(var(--fg) calc(var(--pgPercentage) * 1%), var(--bg) 0);
  font-family: Helvetica, Arial, sans-serif;
  font-size: calc(var(--size) / 5);
  color: var(--fg)
}

div[role="progressbar"]::before {
  counter-reset: percentage var(--value);
  content: counter(percentage) '%'
}

.header {
  padding: 15px 0;
  background-color: var(--secondary-color);
  color: #FFF
}

.header .content {}

.header .content .logo-cntr {
  display: inline-block;
  text-align: left;
  width: 30%;
  position: relative
}

.header .content .logo-cntr .menu-toggler {
  display: none;
  position: absolute;
  top: 50%;
  right: 0;
  font-size: 30px;
  transform: translateY(-50%);
  cursor: pointer
}

.header .content .logo-cntr .link {
  text-decoration: none;
  outline: none;
  color: inherit
}

.header .content .logo-cntr .link .text {
  font-weight: bold;
  margin: 0;
  width: fit-content
}

.header .content .nav-cntr {
  display: inline-block;
  width: 69%;
  text-align: right;
  position: relative
}

.header .content .nav-cntr .menu-toggler {
  display: none;
  position: absolute;
  right: 20px;
  top: 5px;
  font-size: 50px;
  cursor: pointer
}

.header .content .nav-cntr .cnav {
  margin: 0;
  padding: 0;
  list-style: none
}

.header .content .nav-cntr .cnav>.li {
  display: inline-block
}

.header .content .nav-cntr .cnav>.li>.link {
  text-decoration: none;
  outline: none;
  color: inherit;
  padding: 5px
}

.header .content .nav-cntr .cnav>.li>.link>span {}

.footer {
  background-color: var(--secondary-color)
}

.footer .links-box {
  padding: 30px 0
}

.footer .links-box .flink-title {
  font-weight: bold;
  color: #FFF;
  text-transform: uppercase
}

.footer .links-box .flink-list {
  margin: 0;
  padding: 0;
  color: #FFF;
  list-style: none;
  margin-bottom: 15px
}

.footer .links-box .flink-list>.li {
  border-bottom: 1px solid #b9b9b9;
  padding: 5px 0
}

.footer .links-box .flink-list>.li>.link {
  text-decoration: none;
  outline: none;
  display: block;
  color: inherit
}

.footer .links-box .flink-list>.li:hover {
  background-color: #FFF;
  color: var(--secondary-color)
}

.footer .links-box .flink-list>.li:hover>.link {
  font-weight: bold;
  padding-left: 10px
}

.footer .links-box .about-bx {
  color: #FFF
}

.footer .links-box .about-bx .t {
  font-weight: bold;
  text-transform: uppercase
}

.footer .links-box .about-bx .d {
  text-align: justify
}

.footer .links-box .social-box {}

.footer .links-box .social-box .t {
  font-weight: bold;
  text-transform: uppercase;
  color: #FFF
}

.footer .links-box .social-box .social-links {
  display: flex;
  flex-wrap: wrap;
  gap: 7px
}

.footer .links-box .social-box .social-links .link {
  text-decoration: none;
  display: block;
  outline: none;
  color: #FFF;
  width: 40px;
  height: 40px;
  line-height: 40px;
  font-size: 16px;
  border: 1px solid #FFF;
  text-align: center;
  border-radius: 100%;
  background: linear-gradient(to left, transparent 50%, #FFF 50%) right;
  background-size: 200%
}

.footer .links-box .social-box .social-links .link:hover {
  background-position: left;
  color: var(--secondary-color);
  box-shadow: 0 0 15px #fff;
  transform: scale(1.1)
}

.footer .links-box .social-box .social-links .link>i {}

.footer .copyright-box {
  text-align: center;
  padding: 10px 0;
  border-top: 2px solid #9d9d9d
}

.footer .copyright-box .t {
  font-weight: bold;
  color: #FFF;
  margin: 0
}

.bottom-goto-top-btn{
  --size: 40px;
  position: fixed;
  bottom: 15px;
  right: 15px;
  width: var(--size);
  height: var(--size);
  line-height: var(--size);
  text-align: center;
  border: 2px solid var(--theme-color);
  color: var(--theme-color);
  font-size: 24px;
  cursor: pointer;
}
.bottom-goto-top-btn:hover{
  background-color: var(--theme-color);
  color: #FFF;
}

.homepage {}
.homepage .about {
  padding: 50px 0 0;
  position: relative;
  overflow: hidden
}

.homepage .about .det-bx {
  margin-bottom: 50px
}

.homepage .about .det-bx .t {
  color: var(--theme-color)
}

.homepage .about .det-bx .s {
  font-weight: 800;
  font-family: 'Ubuntu', sans-serif;
  font-size: 2.8rem;
  color: #373D4B
}

.homepage .about .img-bx {
  margin-bottom: 50px;
  position: relative
}

.homepage .about .img-bx .img-cntr {
  border-radius: 15px;
  position: relative
}

.homepage .about .img-bx .img {
  width: 100%
}

.homepage .about .img-bx .img-cntr::before {
  content: " ";
  background-image: url(../../assets/img/icon/dots.svg);
  background-repeat: no-repeat;
  width: 100px;
  height: 100px;
  position: absolute;
  top: -25px;
  left: -25px;
  z-index: -1
}

.homepage .about .img-bx .img-cntr::after {
  content: " ";
  background-image: url(../../assets/img/icon/img-side.svg);
  background-repeat: no-repeat;
  width: 40px;
  height: 77px;
  position: absolute;
  top: 0;
  right: -20px
}

.homepage .about .about-me-bx {
  padding: 20px;
  border-radius: 5px;
  position: absolute;
  bottom: 35px;
  left: 30%;
  transform: translateX(-30%);
  max-width: 500px;
  background-color: #FFF;
  box-shadow: 0 0 30px rgb(0 0 0 / 20%)
}

.homepage .about .about-me-bx .t {
  text-decoration: underline;
  color: var(--theme-color);
  font-weight: bold;
  font-size: 1.4rem
}

.homepage .about .about-me-bx .d {
  text-align: justify;
  margin: 0;
  font-size: 1.2rem
}

.homepage .projects {
  padding: 50px 0;
  position: relative;
  overflow: hidden
}

.homepage .projects .pb-bg {
  background-image: url(../../assets/img/bg/code-bg-blue-400.png);
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: .1;
  background-repeat: repeat
}

.homepage .projects .head {
  text-align: center;
  margin-bottom: 30px
}

.homepage .projects .head .t {
  color: var(--theme-color);
  text-transform: uppercase;
  font-weight: bold
}

.homepage .projects .head .s {
  font-weight: 800;
  font-family: 'Ubuntu', sans-serif;
  font-size: 2.5rem;
  margin: 0
}

.homepage .projects .pbx {
  border-radius: 10px;
  background-color: #FFF;
  margin-bottom: 30px;
  overflow: hidden
}

.homepage .projects .pbx .link {
  text-decoration: none;
  outline: none;
  color: inherit;
  display: block
}

.homepage .projects .pbx .imgbx {
  overflow: hidden;
  background-image: var(--image-path);
  height: 250px;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: top;
  transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -webkit-transition: all 1s ease
}

.homepage .projects .pbx .imgbx .img {
  width: 100%
}

.homepage .projects .pbx .dbx {
  text-align: center;
  position: relative;
  padding: 30px 10px 10px
}

.homepage .projects .pbx .dbx .t {
  border-radius: 50px;
  background-color: var(--theme-color);
  color: #FFF;
  width: fit-content;
  padding: 4px 10px;
  font-weight: bold;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -15px;
  min-width: 100px;
  font-size: .8rem
}

.homepage .projects .pbx .dbx .d {
  font-weight: bold;
  margin: 0;
  font-size: .9rem
}

.homepage .projects .pbx:hover {
  box-shadow: var(--pk-box-shadow)
}

.homepage .projects .pbx:hover .imgbx {
  background-position: bottom
}

.homepage .projects .see-more-link {
  text-decoration: none;
  outline: none;
  color: var(--theme-color);
  border: 2px solid var(--theme-color);
  border-radius: 5px;
  display: block;
  width: fit-content;
  margin: 0 auto;
  padding: 7px 35px 7px 15px;
  font-weight: bold;
  position: relative;
  background: linear-gradient(to left, transparent 50%, var(--theme-color) 50%) right;
  background-size: 200%
}

.homepage .projects .see-more-link i {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  margin-left: 10px;
  font-size: 18px
}

.homepage .projects .see-more-link:hover {
  background-color: var(--theme-color);
  color: #FFF;
  background-position: left;
  box-shadow: var(--pk-box-shadow)
}

.homepage .skills {
  padding: 50px 0;
  position: relative;
  overflow: hidden
}

.homepage .skills::before {
  content: " ";
  width: 100%;
  height: 100%;
  background-color: white;
  position: absolute;
  z-index: -1;
  clip-path: ellipse(100% 90% at 50% 90%);
  top: 0;
  background-color: #ffefdc
}

.homepage .skills .head {
  text-align: center;
  margin-bottom: 30px
}

.homepage .skills .head .t {
  color: var(--theme-color);
  text-transform: uppercase;
  font-weight: bold
}

.homepage .skills .head .s {
  font-weight: 800;
  font-family: 'Ubuntu', sans-serif;
  font-size: 2.5rem;
  margin: 0
}

.homepage .skills .all {}

.homepage .skills .all .c-row {
  display: flex;
  flex-wrap: wrap;
  row-gap: 10px;
  column-gap: 10px;
  justify-content: center
}

.homepage .skills .all .c-row .skill-bx {
  transform: rotate3d(1, 1, 1, 320deg);
  border-radius: 100%;
  position: relative
}

.homepage .skills .all .c-row .skill-bx .link {
  text-decoration: none;
  outline: none;
  display: block;
  width: fit-content
}

.homepage .skills .all .c-row .skill-bx .skill-pro {
  --size: 4rem;
  --fg: #00d7ff;
  background: radial-gradient(closest-side, white 90%, transparent 0 99.9%, white 0), conic-gradient(var(--fg) calc(var(--pgPercentage) * 1%), var(--bg) 0);
  overflow: hidden
}

.homepage .skills .all .c-row .skill-bx .skill-pro::before {
  display: none
}

.homepage .skills .all .c-row .skill-bx .skill-pro .icon {
  width: 40px;
  height: 40px;
  position: relative;
  top: 10px
}

.homepage .skills .all .c-row .skill-bx .skill-pro .stitle {
  font-weight: bold;
  position: relative;
  top: 17px;
  color: var(--theme-color)
}

.homepage .skills .all .c-row .skill-bx:hover {
  box-shadow: var(--pk-box-shadow);
  transform: scale(1.1)
}

.homepage .skills .all .c-row .skill-bx .skill-pro:hover .icon {
  top: -20px
}

.homepage .skills .all .c-row .skill-bx .skill-pro:hover .stitle {
  top: -20px
}

@media(max-width:1200px) {
  .theme-container {
    padding: 0 15px
  }
}

@media(max-width:767px) {
  .header {}

  .header .content {}

  .header .content .logo-cntr {
    width: 100%
  }

  .header .content .logo-cntr .menu-toggler {
    display: block
  }

  .header .content .nav-cntr {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: var(--secondary-color);
    z-index: 11;
    left: -1000px
  }

  .header .content .nav-cntr .menu-toggler {
    display: block
  }

  .header .content .nav-cntr .cnav {
    text-align: center;
    top: 50%;
    position: relative;
    transform: translateY(-50%)
  }

  .header .content .nav-cntr .cnav>.li {
    display: block
  }

  .header .content .nav-cntr .cnav>.li>.link {
    font-size: 25px
  }

  .header .content .nav-cntr .cnav>.li>.link>span {}

  .header .content .nav-cntr.show {
    left: 0
  }
}